p{ color: rgb(167, 2, 98);}
h2{ color: rgb(24, 175, 87); background-color: yellow;}
h1{ color: blue; background-color: black;}
.padre{ background-image: url(./https://picsum.photos/200)!important;}
body{ color: rgb(226, 8, 8);}
